/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Alfa Slab One', cursive;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    
    /* Small */
    @media (min-width: 768px) {
        .container {
        width: 750px;
        }
    }
      /* Medium */
    @media (min-width: 992px) {
        .container {
        width: 970px;
        }
    }
      /* Large */
    @media (min-width: 1200px) {
        .container {
        width: 1170px;
        }
    }
/* End Global Rules */

/* Background */
    .background {
        width: 100%;
        height: 100vh;
        background: url(../images/header\ background.png);
        background-size: cover;
        background-position: center;
    }

    @media (max-width: 767px) {
        .background {
            height: 650px;
            width: 100%;
        }
    }

/* Background */
/* Start Header */
    .header {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        .header {
            padding-bottom: 10px;
        }
    }

    .header .container .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 767px) {
        .header .container .header-content {
            flex-direction: column;
            justify-content: center;
        }
    }

    .header .container .header-content .nav li {
        padding-left: 15px;
    }

    .header .container .header-content .nav li,a {
        list-style: none;
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        color: #3d2514;
        font-family:'Bebas Neue';
    }

    @media (max-width: 767px) {
        .header .container .header-content .nav li,a {
            font-size: 20px;
        }
    }

    .header .container .header-content .nav ul {
        display: flex;
        flex-direction: row;
    }

    @media (max-width: 767px) {
        .header .container .header-content .nav ul {
           justify-content: center;
        }
    }

    .header .container .header-content .nav li:hover {
        transform: scale(1.3);
        transition: 0.5s;
    }

    .header .container .header-content.nav li a:hover {
        color: darkred;
        transition: 0.3s;
    }

    /* logo */

    @media (max-width: 767px) {
        /* links */
        .header .container .header-content .logo img {
            width: 150px;
        }                   
    }
/* End Header */

/* Start Landing */
    .landing {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        .landing {
            padding-top: 0px;
            padding-bottom: 30px;
        }
    }

    .landing .container .content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 767px) {
        .landing .container .content-container {
            flex-direction: column;
            margin-top: 5px;
            padding-top: 0px;
        }
    }

    .landing .container .content-container .poster {
        margin-right: -80px;
    }

    @media (max-width: 767px) {
        .landing .container .content-container .poster {
            margin-right: 0;
        }

        .landing .container .content-container .poster img {
            width: 400px;
        }
    }

    .landing .container .content-container .text p {
        font-family: 'Bebas Neue';
        font-size: 22px;
        font-weight: 500;
        color: #3d2514;
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        .landing .container .content-container .text p {
            font-size: 15px;
        }
    }

    .landing .container .content-container .text h1 {
        font-family: 'Alfa Slab One';
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 1.6px;
        color: #3d2514;
        margin-bottom: 0;
        margin-top: 20px;
    }

    @media (max-width: 767px) {
        .landing .container .content-container .text h1 {
            font-size: 30px;
        }
    }

    .landing .container .content-container .text h3 {
        font-family: 'Alfa Slab One';
        font-size:40px;
        font-weight: bold;
        letter-spacing: 1.6px;
        color: #3d2514;
        margin-top: 0;
    }

    @media (max-width: 767px) {
        .landing .container .content-container .text h3 {
            font-size: 15px;
        }
    }
    
/* End Landing */
/* Start Section */
.section {
    padding-top: 90px;
    padding-bottom: 10px;
}

.section .container .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
}

@media (max-width: 767px) {
    .section .container .section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
}

.section .container .left-box,.right-box {
    position: relative;
}

.section .container .card2 {
    padding-bottom: 20px;
}

.section .container .text1,.text2,.text3{
    position: absolute;
}

.section .container .text1,.text2,.text3 {
    color: white;
    font-family: 'Bebas Neue';
    padding: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

@media (max-width: 767px) {

}

.section .container .text1 h4 {
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-bottom: 5px;

}

@media (max-width: 767px) {
    .section .container .text1 h4 {
        font-size: 15px;
    }
}

.section .container .text2 h4 {
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .section .container .text2 h4 {
        font-size: 15px;
    }
}

.section .container .text3 h4 {
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-bottom: 5px;

}

@media (max-width: 767px) {
    .section .container .text3 h4 {
        font-size: 15px;
    }
}

.section .container .text1 h2 {
    letter-spacing: 1.2px;
    font-size: 40px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .section .container .text1 h2 {
        font-size: 25px;
    }
}

.section .container .text2 h2 {
    letter-spacing: 1.2px;
    font-size: 40px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .section .container .text2 h2 {
        font-size: 25px;
    }
}

.section .container .text3 h2 {
    letter-spacing: 1.2px;
    font-size: 40px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .section .container .text3 h2 {
        font-size: 25px;
    }
}

/* Images */

@media (max-width: 767px) {
   
     .section .container .card1 img {
        width: 100%;
    }

    .section .container .card2 img {
        width: 100%;
    }

    .section .container .card3 img {
        width: 100%;
    }
}

/* End Section */

/* Start Products */
.products {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .products {
        padding-top: 50px;
        padding-bottom: 10px;
    }
}

.products .container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .products .container {
        align-items: center;
    }
}

.products .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d2514;
}

.products .title .color {
    background-color: #ffc045;
    width: 218px;
    height: 48px;
}

@media (max-width: 767px) {
    .products .title .color {
        width: 160px;
    height: 20px;
    }
}

.products .title .color p {
    font-family: 'Bebas Neue';
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
} 

@media (max-width: 767px) {
    .products .title .color p {
        font-size: 15px;
        margin-top: 3px;
    }
}

.products .title h1 {
    font-family: 'Alfa Slab One';
    font-size: 50px;
    letter-spacing: 1.2px;
    margin-bottom: 7px;
}

@media (max-width: 767px) {
    .products .title h1 {
        font-size: 30px;
    }
}

.products .title .p2 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 55%;
    margin-top: 7px;
}

@media (max-width: 767px) {
    .products .title .p2 {
        font-size: 15px;
        width: 90%;
    }
}

.products .products-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .products .products-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .products .products-content .product {
        border-bottom: 2px solid #CCC;
        margin-bottom: 10px;
    }
}

.products .products-content .product .image {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .products .products-content .product .image {
        margin-left: 65px;
    }

    .products .products-content .product .image img {
        width: 250px;
    }
}

.products .products-content .product .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d2514;
}

@media (max-width: 767px) {
    .products .products-content .product .info {
        margin-bottom: 50px;       
    }
}

.products .products-content .product .info h2 {
    font-family: 'Bebas Neue';
    letter-spacing: 1.2px;
    font-size: 35px;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .products .products-content .product .info h2 {
        font-size: 30px;
    }
}

.products .products-content .product .info .pi {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 80%;
    text-align: center;
    margin-top: 5px;    
}

@media (max-width: 767px) {
    .products .products-content .product .info .pi {
        font-size: 15px;
    }
}

.products .products-content .product .info .button {
    background-color: #bf2222;
    width: 195px;
    height: 57px;
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .products .products-content .product .info .button {
        width: 120px;
        height: 40px;
    }
}

.products .products-content .product .info .button .bt {
    color: white;
    font-family: 'Alfa Slab One';
    letter-spacing: 1.2px;
    font-size: 15px;
    padding-top: 5px;
} 

@media (max-width: 767px) {
    .products .products-content .product .info .button .bt {
        font-size: 10px;
    }
}

/* End Products */

/* Start Events */
.events {
    padding-top: 10px;
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .events {
        padding-top: 0px;
    padding-bottom: 10px;
    }
}

.events .container {
    box-shadow: 7px 5px 23px -2px rgba(0,0,0,0.75);
}

@media (max-width: 767px) {
    .events .container {       
        box-shadow: none;
    }
}

.events .container .events-content {
    display: flex;
    padding: 10px 10px; 
}

@media (max-width: 767px) {
    .events .container .events-content {        
        flex-direction: column;
        align-items: center;
    }
}

.events .events-content .info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    /* margin-left: 8%; */
}

@media (max-width: 767px) {
    .events .events-content .info {
        text-align: center;
        padding-right: 20px;
    }
}

.events .events-content .info .p1 {
    font-family: 'Bebas Neue';
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-bottom: 3px;
} 

@media (max-width: 767px) {
    .events .events-content .info .p1 {
        font-size: 20px;
    }
}

.events .events-content .info h2 {
    font-family: 'Alfa Slab One';
    color: #3d2514;
    font-size: 50px;
    letter-spacing: 1.2px;
    margin-top: 3px;
}

@media (max-width: 767px) {
    .events .events-content .info h2 {
        font-size: 30px;
    }
}

.events .events-content .info .p2 {
    font-family: 'Montserrat';
    font-size: 18px;
    width: 400px;
    margin-top: 0;
}

@media (max-width: 767px) {
    .events .events-content .info .p2 {
        font-size: 15px;
        width: 100%;
    }
}

.events .events-content .info .circules {
    display: flex;
    margin-top: 40px;
}


.events .events-content .info .circules i {
    color: #dcdcdc;
    padding: 5px;
}

@media (max-width: 767px) {
    .events .events-content .info .circules i {
        display: none;
    }
}

.events .events-content .info .circules .i1 {
    color: #ffc045;
}

.events .events-content .image {
    padding-right: 20px;
    /* margin-right: 8%; */
}
@media (max-width: 767px) {
    .events .events-content .image {
        padding-left: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .events .events-content .image img {
        width: 100%;
        box-shadow: 7px 5px 23px -2px rgba(0,0,0,0.75);
    }
}
/* End Events */

/* Start Form */
    .form {
        padding-top: 10px;
        padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        .form {
            padding-top: 10px;
        padding-bottom: 10px;
        }
    }

    .form .container .form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form .container .form-content .form-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form .container .form-content .form-title .p-form {
        font-family: 'Bebas Neue';
    font-size: 65px;
    letter-spacing: 1.2px;
    margin-bottom: 3px;
    }

    @media (max-width: 767px) {
        .form .container .form-content .form-title .p-form {
            font-size: 20px;
        }
    }

    .form .container .form-content .form-title h2 {
        font-family: 'Alfa Slab One';
    color: #3d2514;
    font-size: 50px;
    letter-spacing: 4px;
    margin-top: 3px;
    }

    @media (max-width: 767px) {
        .form .container .form-content .form-title h2 {
            font-size: 25px;
        }
    }

    .form .container .form-content .contact {
        display: flex;
        justify-content: center;
        padding: 40px 30px;
    }
  
    @media (max-width: 767px) {
        .form .container .form-content .contact {
            flex-direction: column;
        }
    }

    .form .container .form-content .contact .left form .main-input {
        font-family: 'Bebas Neue';
        font-size: 20px;
        padding: 20px;
        display: block;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin: 0 10px 30px 10px;
        width: 400px;
    }

    @media (max-width: 767px) {
        .form .container .form-content .contact .left form .main-input {
            font-size: 15px;
            padding: 15px;
            margin-bottom: 10px;
            
            width: 350px;
        }
    }

    .form .container .form-content .contact .right form .main-input {
        font-family: 'Bebas Neue';
        font-size: 20px;
        padding: 20px;
        display: block;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin: 0 10px 30px 10px;
        width: 400px;
    }

    @media (max-width: 767px) {
        .form .container .form-content .contact .right form .main-input {
            font-size: 15px;
            padding: 15px;
            margin-bottom: 10px;
            width: 350px;
           
        }
    }

    .form .container .form-content .contact .left form .main-input:focus {
        outline: none;
    }

    .form .container .form-content .contact .right form .main-input:focus {
        outline: none;
    }

    .form .container .form-content .contact .right form .submit {
        background-color: #bf2222;
        color: white;
        font-family: 'Alfa Slab One';
        font-size: 22px;
        letter-spacing: 1.2px;
        padding: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 10px 30px 10px;
        width: 400px;
    }

    @media (max-width: 767px) {
        .form .container .form-content .contact .right form .submit {
            font-size: 15px;
            padding: 15px;
            margin-bottom: 10px;
           
            width: 350px;
        }
    }

/* End Form */

/* Start Footer */
    .footer {
        padding-top: 20px;
        background-color: #ffc045;
    }

    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .footer .container .name {
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: 600;        
        letter-spacing: 1.2px;
        padding-bottom: 15px;
        }

        @media (max-width: 767px) {
            .footer .container .name {
                font-size: 10px;
                padding-left: 20px;
            }
        }

        .footer .container .name i {
            color: #bf2222;
        }

    .footer .container .social {
        font-size: 30px;
        padding-bottom: 15px;        
    }

    @media (max-width: 767px) {
        .footer .container .social {
            font-size: 20px;
            padding-right: 20px;
        }
    }

    .footer .container .social i:hover {
        color: #bf2222;
        cursor: pointer;
        transition: 0.4s;
    }


    
/* End Footer */